/* BusOperatorNavbar.css */

/* Navbar background color */
.navbar.bg-dark {
  background-color: #01bcd5 !important; /* Blue background color */
}

/* Navbar links styling */
.navbar a.navbar-brand,
.navbar a.nav-link,
.navbar button.nav-link {
  color: #ffffff !important; /* White text color */
}

/* Bold font weight for all navbar links */
.navbar .navbar-nav .nav-link {
  font-weight: bold;
}

/* Margin for navbar-nav */
.navbar-nav {
  margin-right: 900px;
}

/* Styling for logout button */
.logout-btn {
  display: flex;
  align-items: center;
  color: rgb(6, 174, 208); /* Text color for the button */
  cursor: pointer;
}

/* Styling for logout image */
.logout-image {
  max-width: 30px;
  height: auto;
  margin-right: 0px; /* Add right margin to separate from text */
  background-color: white; /* White background color for the image */
  padding: 0; /* Reset padding to zero */
}

/* Hover effect for navbar links */
.navbar a.navbar-brand:hover,
.navbar a.nav-link:hover,
.navbar button.nav-link:hover {
  color: #fec89a !important; /* Change text color on hover */
}

/* Hover effect for specific links */
.navbar .navbar-nav .nav-item.booking-history a.nav-link:hover,
.navbar .navbar-nav .nav-item.fast a.nav-link:hover,
.navbar .navbar-nav .nav-item.login a.nav-link:hover {
  color: #fec89a !important; /* Change text color on hover */
}

/* Hover effect for the logout button */
.logout-btn:hover {
  background-color: #ffffff; /* Change background color on hover */
}
